body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    background-color: white
}

a{
    text-decoration: none;
}

.site-title {
    margin: 0;
    padding: 20px 20px;
    font-size: 40px;
    font-weight: 100;
    background-color: green;
    color: lightgray;
    text-decoration: none;
    text-align: center;
}

#search-bar-input{
    padding: 10px;
    font-size: 16px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 2px;
    float: center;
}