{{!-- {{> main}} --}}
    <main class="recipe-container">

      <article class="recipe">
        <div class="recipe-content">
            <ul class="recipe-header">
                <li><p class="recipe-photo">
                    <img id="recipe-photo-id" src="/images/blt.jpg">
                </p>
                </li>
                <li><h1 class="recipe-title">
                    BLT Sandwich
                </h1>
                </li>
            </ul>
            <p class="recipe-time">
                10 minutes
            </p>
            <p class="review-recipe">
                <button type="button" id="like-recipe-button"><i class="fas fa-thumbs-up"></i></button>
            <button type="button" id="dislike-recipe-button"><i class="fas fa-thumbs-down"></i></button>
            </p>
            <h3> Ingredients: </h3>
            <p class="recipe-ingredients">
                <ul>
                    <li>4 slices of bacon</li>
                    <li>2 leaves of lettuce</li>
                    <li>2 slices of tomato</li>
                    <li>2 slices of bread</li>
                    <li>1 tablespoon of mayonnaise</li>

                </ul>
            </p>
            <h3> Instructions: </h3>
            <p class="recipe-instructions">
                <ol>
                    <li>
                        Cook bacon in a pan over medium-high heat until evenly browned and crispy.
                    </li>
                    <li>
                        While the bacon is cooking, toast the bread.
                    </li>
                    <li>
                        Spread mayonnaise on a slice of toasted bread.
                    </li>
                    <li>
                        Assemble all the ingredients on the top of the slice of bread.
                    </li>
                    <li>
                        Top it with the remaining slice of bread and enjoy!
                    </li>
            </ol>
            </p>
        </div>
      </article>