{{!-- {{> main}} --}}
    <main class="recipe-container">

      <article class="recipe">
        <div class="recipe-content">
            <ul class="recipe-header">
                <li><p class="recipe-photo">
                    <img id="recipe-photo-id" src="/images/creamy-pesto-pasta.jpeg">
                </p>
                </li>
                <li><h1 class="recipe-title">
                    Creamy Pesto Pasta
                </h1>
                </li>
            </ul>
            <p class="recipe-time">
                25 minutes
            </p>
            <p class="review-recipe">
                <button type="button" id="like-recipe-button"><i class="fas fa-thumbs-up"></i></button>
            <button type="button" id="dislike-recipe-button"><i class="fas fa-thumbs-down"></i></button>
            </p>
            <h3> Ingredients: </h3>
            <p class="recipe-ingredients">
                <ul>
                    <li>1 boneless, skinless chicken breast</li>
                    <li>1 tbsp butter</li>
                    <li>1 clove of garlic</li>
                    <li>0.25 lbs penne pasta</li>
                    <li>0.75 cups chicken broth</li>
                    <li>0.5 cup milk (can also use plant-based milk)</li>
                    <li>0.17 cup basil pesto</li>
                    <li>0.13 cup grated parmesan</li>
                    <li>freshly cracked pepper</li>
                    <li>1 pinch of crushed red pepper</li>
                    <li>1.5 cup spinach</li>
                </ul>
            </p>
            <h3> Instructions: </h3>
            <p class="recipe-instructions">
                <ol>
                    <li>
                        Cut the chicken breast into 1-inch pieces. Add butter to a deep skillet and melt over medium heat. 
                        Add the chicken and cook over medium heat until chicken is slightly browned on the outside.
                    </li>
                    <li>
                        While the chicken is cooking, mince the garlic. Add it to the skillet with the chicken and continue to 
                        cook it for one more minute.
                    </li>
                    <li>
                        Add the uncooked pasta and chicken broth to the skillet that you're cooking the chicken in. Stir to dissolve any 
                        browned bits from the bottom of the skillet. Place a lid on the skillet, turn the heat up to medium high, and bring the broth up to a boil.
                    </li>
                    <li>
                        Once the broth comes to a full boil, give the pasta a quick stir, replace the lid, and turn the heat down to medium low. Let it simmer until the pasta is al-dente. Stir briefly every two minutes and replace lid each time.
                    </li>
                    <li>
                        Once the pasta is cooked and most of the broth is absorbed, add the milk and pesto. Stir and cook over medium heat.
                    </li>
                    <li>
                        Add the grated parmesan and spinach and stir to combine. Once the spinach has wilted, remove the skillet from heat.
                    </li>
                    <li>
                        Top with freshly cracked pepper and crushed red pepper and serve.
                    </li>
            </ol>
            </p>
        </div>
      </article>