<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>GROUP 27 RECIPE APP</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="public/main-style.css" media="screen">

</head>

  <body>

    <header>
      <!-- Website Title -->
      <a href = "#"><h1 class ="site-title"><i class="fas fa-utensils"></i>GROUP 27 RECIPE APP</h1></a>
      
      <!-- Search bar -->
        

    </header>

    <main class="recipe-container">

      <article class="recipe">
        <div class="recipe-content">
            <ul class="recipe-header">
                <li><p class="recipe-photo">
                    <img id="recipe-photo-id" src="noodles.jpg">
                </p>
                </li>
                <li><h1 class="recipe-title">
                    Cup noodles
                </h1>
                </li>
            </ul>
            <p class="recipe-time">
                Not even 6 minutes
            </p>
            <p class="review-recipe">
                <button type="button" id="like-recipe-button"><i class="fas fa-thumbs-up"></i></button>
            <button type="button" id="dislike-recipe-button"><i class="fas fa-thumbs-down"></i></button>
            </p>
            <h3> Ingredients: </h3>
            <p class="recipe-ingredients">
                <ul>
                    <li>a cup of noodles from your local store or something</li>
                    <li>Water</li>
                </ul>
            </p>
            <h3> Instructions: </h3>
            <p class="recipe-instructions">
                <ol>
                    <li>
                        Heat up water
                    </li>
                    <li>
                        pour water into noodle cup
                    </li>
                    <li>
                        Wait 5 minutes
                    </li>
                    <li>
                        Enjoy
                    </li>
            </ol>
            </p>
        </div>
      </article>