<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>GROUP 27 RECIPE APP</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="public/main-style.css" media="screen">

</head>

  <body>

    <header>
      <!-- Website Title -->
      <a href = "#"><h1 class ="site-title"><i class="fas fa-utensils"></i>GROUP 27 RECIPE APP</h1></a>
      
      <!-- Search bar -->
        

    </header>

    <main class="recipe-container">

      <article class="recipe">
        <div class="recipe-content">
            <ul class="recipe-header">
                <li><p class="recipe-photo">
                    <img id="recipe-photo-id" src="./images/spaghetti.jpg">
                </p>
                </li>
                <li><h1 class="recipe-title">
                    Beef wellington
                </h1>
                </li>
            </ul>
            <p class="recipe-time">
                90 minutes
            </p>
            <p class="review-recipe">
                <button type="button" id="like-recipe-button"><i class="fas fa-thumbs-up"></i></button>
            <button type="button" id="dislike-recipe-button"><i class="fas fa-thumbs-down"></i></button>
            </p>
            <h3> Ingredients: </h3>
            <p class="recipe-ingredients">
                <ul>
                    <li>2 x 400g beef fillets</li>
                    <li>Olive oil, for frying</li>
                    <li>500g mixture of wild mushrooms, cleaned</li>
                    <li>1 thyme sprig, leaves only</li>
                    <li>8 slices of parma ham</li>
                    <li>2 egg yolks, beaten with 1 tbsp of water and a pinch of salt</li>
                    <li>Sea salt and freshly ground black pepper</li>
                    <li>2 tbsp olive oil</li>
                    <li>200g beef trimmings (ask the butcher to reserve these when trimming the fillet)</li>
                    <li>4 large shallots, peeled and sliced</li>
                    <li>12 black peppercorns</li>
                    <li>1 bay leaf</li>
                    <li>1 thyme sprig</li>
                    <li>Splash of red wine vinegar</li>
                    <li>1 x 750ml bottle of red win</li>
                    <li>750ml beef stock</li>

                </ul>
            </p>
            <h3> Instructions: </h3>
            <p class="recipe-instructions">
                <ol>
                    <li>
                        Wrap each piece of beef tightly in a think layer of cling film to set its shape, then chill overnight.
                    </li>
                    <li>
                        Remove the cling film, then quickly sear the beef fillets in a hot pan with a little olive oil for 30-60 seconds until browned all over and rare in the middle. Remove from the pan and leave to cool.
                    </li>
                    <li>
                        Finely chop the mushrooms and fry in a hot pan with a little olive oil, the thyme leaves and some seasoning. When the mushrooms begin to release their juices, continue to cook over a high heat for about 10 minutes until all the excess moisture has evaporated and you are left with a mushroom paste (known as a duxelle). Remove the duxelle from the pan and leave to cool.
                    </li>
                    <li>
                        Cut the pastry in half, place on a lightly floured surface and roll each piece into a rectangle large enough to envelop one of the beef fillets. Chill in the refrigerator.
                    </li>
                    <li>
                        Lay a large sheet of cling film on a work surface and place 4 slices of Parma ham in the middle, overlapping them slightly, to create a square. Spread half the duxelle evenly over the ham.
                    </li>
                    <li>
                        Season the beef fillets, then place them on top of the mushroom-covered ham. Using the cling film, roll the Parma ham over the beef, then roll and tie the cling film to get a nice, evenly thick log. Repeat this step with the other beef fillet, then chill for at least 30 minutes.
                    </li>
                    <li>
                        Brush the pastry with the egg wash. Remove the cling film from the beef, then wrap the pastry around each ham-wrapped fillet. Trim the pastry and brush all over with the egg wash. Cover with cling film and chill for at least 30 minutes.
                    </li>
                    <li>
                        Meanwhile, make the red wine sauce. Heat the oil in a large pan, then fry the beef trimmings for a few minutes until browned on all sides. Stir in the shallots with the peppercorns, bay and thyme and continue to cook for about 5 minutes, stirring frequently, until the shallots turn golden brown.
                    </li>
                    <li>
                        Pour in the vinegar and let it bubble for a few minutes until almost dry. Now add the wine and boil until almost completely reduced. Add the stock and bring to the boil again. Lower the heat and simmer gently for 1 hour, removing any scum from the surface of the sauce, until you have the desired consistency. Strain the liquid through a fine sieve lined with muslin. Check for seasoning and set aside.
                    </li>
                    <li>
                        When you are ready to cook the beef wellingtons, score the pastry lightly and brush with the egg wash again, then bake at 200°C/Gas 6 for 15-20 minutes until the pastry is golden brown and cooked. Rest for 10 minutes before carving.
                    </li>
                    <li>
                        Meanwhile, reheat the sauce. Serve the beef wellingtons sliced, with the sauce as an accompaniment.
                    </li>
            </ol>
            </p>
        </div>
      </article>