<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>GROUP 27 RECIPE APP</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/webpage-style.css" media="screen">

</head>

  <body>

    <header>
      <!-- Website Title -->
      <a href = "#"><h1 class ="site-title"><i class="fas fa-utensils"></i>GROUP 27 RECIPE APP</h1></a>
      
      <!-- Search bar -->
      <nav class="navbar">
        <ul class="navbar-list">
          <li>
            <input type="text" id="search-bar-input" placeholder="Search for recipes...">
            <button type="button" id ="search-bar-button"><i class="fas fa-search"></i></button>
          </li>
        </ul>
        
      </nav>

    </header>

    <main class="recipe-container">

      <article class="recipe">
        <div class="recipe-content">
            <ul class="recipe-header">
                <li><p class="recipe-photo">
                    <img id="recipe-photo-id" src="images/spaghetti.jpg">
                </p>
                </li>
                <li><h1 class="recipe-title">
                    Spaghetti
                </h1>
                </li>
            </ul>
            <p class="recipe-time">
                45 minutes
            </p>
            <p class="review-recipe">
                <button type="button" id="like-recipe-button"><i class="fas fa-thumbs-up"></i></button>
            <button type="button" id="dislike-recipe-button"><i class="fas fa-thumbs-down"></i></button>
            </p>
            <h3> Ingredients: </h3>
            <p class="recipe-ingredients">
                <ul>
                    <li>1 pound lean ground meat like beef, turkey, chicken or lamb</li>
                    <li>3 tablespoons olive oil</li>
                    <li>1 cup (130 grams) chopped onion</li>
                    <li>3 garlic cloves, minced (1 tablespoon)</li>
                    <li>2 tablespoons tomato paste</li>
                    <li>1/2 teaspoon dried oregano</li>
                    <li>Pinch crushed red pepper flakes</li>
                    <li>1 cup water, broth or dry red wine</li>
                    <li>1 (28-ounce) can crushed tomatoes</li>
                    <li>Salt and fresh ground black pepper</li>
                    <li>Handful fresh basil leaves, plus more for serving</li>
                    <li>12 ounces dried spaghetti or favorite pasta shape</li>
                    <li>1/2 cup shredded parmesan cheese </li>
                </ul>
            </p>
            <h3> Instructions: </h3>
            <p class="recipe-direction">
                <ol>
                    <li>
                        Heat the oil in a large pot over medium-high heat (we use a Dutch oven). Add the meat and cook until browned, about 8 minutes. As the meat cooks, use a wooden spoon to break it up into smaller crumbles.
                    </li>
                    <li>
                        Add the onions and cook, stirring every once and a while, until softened, about 5 minutes.
                    </li>
                    <li>
                        Stir in the garlic, tomato paste, oregano, and red pepper flakes and cook, stirring continuously for about 1 minute.
                    </li>
                    <li>
                        Pour in the water and use a wooden spoon to scrape up any bits of meat or onion stuck to the bottom of the pot. Stir in the tomatoes, 3/4 teaspoon of salt, and a generous pinch of black pepper. Bring the sauce to a low simmer. Cook, uncovered, at a low simmer for 25 minutes. As it cooks, stir and taste the sauce a few times so you can adjust the seasoning accordingly (see notes for suggestions).
                    </li>
                    <li>
                        About 15 minutes before the sauce is finished cooking, bring a large pot of salted water to the boil then cook pasta according to package directions, but check for doneness a minute or two before the suggested cooking time.
                    </li>
                    <li>
                        Take the sauce off of the heat, and then stir in the basil. Toss in the cooked pasta, and then leave for a minute so that the pasta absorbs some of the sauce. Toss again, and then serve with parmesan sprinkled on top
                    </li>
            </ol>
            </p>
        </div>
      </article>